In [13]:
import mysql.connector

In [15]:
help(mysql.connector.connect)

Help on function connect in module mysql.connector:

connect(*args, **kwargs)
    Create or get a MySQL connection object

    In its simpliest form, Connect() will open a connection to a
    MySQL server and return a MySQLConnection object.

    When any connection pooling arguments are given, for example pool_name
    or pool_size, a pool is created or a previously one is used to return
    a PooledMySQLConnection.

    Returns MySQLConnection or PooledMySQLConnection.

In [ ]:
Dta API 2.0

In [ ]:
conn = connect(host,port,user,password)

cur = conn.cur()

cur.execute("SQL")

conn.commit()
conn.rollback()
conn.close()

In [ ]:
sqlite3 - sqlite 
oracle = > cx_oracle 
mysql => mysql connector 
postgres => psycopg2

In [4]:
import mysql.connector

In [18]:
conn = mysql.connector.connect(user='', password='',
                              host='',
                              database='user',port=3306)
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001636C94CF60>

In [19]:
import sqlite3

In [20]:
conn = sqlite3.connect("test.db")

In [21]:
cur = conn.cursor()

In [22]:
cur.execute("""CREATE TABLE IF NOT EXISTS USER(ID INT PRIMARY KEY,NAME TEXT)""")

In [25]:
try:
    cur.execute("""INSERT INTO USER VALUES(1,'ABC') """)
except sqlite3.IntegrityError:
    print("ROw with primary key already exists")

ROw with primary key already exists

In [26]:
try:
    cur.execute("""INSERT INTO USER VALUES(2,'PQR') """)
except sqlite3.IntegrityError:
    print("ROw with primary key already exists")

In [27]:
user_id = 3
user_name = "RST"

try:
    cur.execute("""INSERT INTO USER VALUES(?,?) """,(user_id,user_name))
except sqlite3.IntegrityError:
    print("ROw with primary key already exists")

In [29]:
try:
    cur.executemany("""INSERT INTO USER VALUES(?,?) """,[(4,"PPP"),(5,"LLL")])
except sqlite3.IntegrityError:
    print("ROw with primary key already exists")

In [33]:
cur.execute(""" SELECT * FROM USER""")
# print(next(cur))
# print(cur.fetchall())

for row in cur:
    print(row)

(1, 'ABC')
(2, 'PQR')
(3, 'RST')
(4, 'PPP')
(5, 'LLL')

In [34]:
cur.execute("UPDATE USER SET NAME = 'KKK' WHERE ID = 3")

In [36]:
cur.execute('SELECT * FROM USER WHERE ID = 3')
print(next(cur))

(3, 'KKK')

In [ ]:
conn.commit()

In [ ]:
conn.rollback()

In [37]:
conn.close()